@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

a, h1, h2, h3, h4, h5{ font-family: 'Open Sans', sans-serif; /*--*/ text-transform: uppercase;}
p{font-family: 'Quicksand', sans-serif;}
a {color: azure; /*--*/ font-family: 'Open Sans', sans-serif; /*--*/ text-transform: uppercase; font-size: 16px; /*--*/ text-decoration: none;}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body{
    background-image: url(images/komyonlar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*------------------------------(header bölümü)------------------------------*/
header{
    background-image: url(images/tır.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

/*hamburger menü(hey, Kim sipariş etti.)*/

nav {
	background: #212121;
	opacity: 95%;
	font-size: 22px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 1;
	justify-content: space-around;
}


#container {
	margin: 0 auto;
	max-width: 890px;
}

.toggle,
[id^=drop] {
	display: none;
}

nav { 
	margin:0;
	padding: 0;
}

#logo {
	padding: 1rem 0.5rem;
	float: left;
	line-height: 60px;
}

nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
}

nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
	background-color: #212121;
  transition: 500ms;
}


nav ul li ul li:hover { background: #000000; }

nav a:hover { 
	background-color: #000000; 
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}
	
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px; 
}

	
li > a:after { content:  ' | '; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0.5rem 0.5rem;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 100%;
    	text-transform: uppercase;  
    	text-align: center;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
		width: 100%;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: rgb(19, 18, 18);
		padding:14px 20px;	
		width: 100%;
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #1a1414;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #302222;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #1d1919; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
/*------------------------------(main bölümü)------------------------------*/

/*first section*/

.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: rgb(49, 49, 49);
    color: azure;
    padding-bottom: 2rem;
}

.first-section > article{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;    
}

.first-section > article > h2{
    font-size: 60px;
    color: lightslategray;
    
}

.first-section > article > p{
    font-size: 20px;
    margin-top: 30px;
}

.first-section > article > hr{
    width: 10rem;
    height: 5px;
    margin-top: 30px;
    background-color: lightslategray;

}

/*second section (bu gerçekten zor)*/

.second-section{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgba(49, 49, 49, 0.904);*/
    background-image: linear-gradient(rgb(49, 49, 49),rgba(49, 49, 49, 0.836));
    color: azure;
    padding-bottom: 4rem;
    justify-content: center;
}

.conter{display: flex; justify-content: center; align-items: center;}
.conter > h2{font-size: 5rem;}


/*js*/
#karayolu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 19px;
  background-color: #333;
  padding: 1.5rem;
  border-radius: 25px;
}


#havayolu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 19px;
  background-color: #333;
  padding: 1.5rem;
  border-radius: 25px;
}


#denizyolu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 19px;
  background-color: #333;
  padding: 1.5rem;
  border-radius: 25px;
}



#demiryolu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 19px;
    background-color: #333;
    padding: 1.5rem;
    border-radius: 25px;
}

@media (max-width: 1000px){
  #karayolu{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }


  #havayolu{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }


  #denizyolu{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }



  #demiryolu{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
}

.second-section > .conter > img{
  margin-bottom: 50px;
    height: auto;
    width: 70%;
}

.black{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn{
    font-size: 15px;
    padding: 20px;
    border: 1px orange;
    background-color: black;
    border-radius: 25px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transition: 500ms;
    color: #FFF;
}

.btn:focus{
    background-color: #f46b45;
}

.btn:hover:not(:focus){
    opacity: 50%;
    cursor: pointer;
}

/*third section*/

.third{
  padding-top:    50px;
  padding-bottom: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

@media (max-width: 800){
  .third{
    padding-top:    50px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    gap: 3rem;
  }
}

.third > article{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px rgb(0, 0, 0) solid;
    height: auto;    
    font-size: 62,5%;
}

/*
.third > article > h4 > .icon{
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
*/

.third > article > h4 > i{
  margin-right: 25px;
}

.third > article > h4{
    display: flex;
    background-color: rgba(49, 49, 49, 0.897);
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.third > article > p{
    color: azure;
    background-color: rgb(104, 101, 95);
    padding: 0.5rem;
    border-top: 3px rgb(121, 172, 120) solid;
    /*
        first: top
        second: right
        third: bottom 
        four: left
    */

    /*
    border-top: 2px orange;
    margin: 1rem auto 1rem auto;
    padding-top: 0.5rem;
    */
}


/*fourth  section*/

/*üst kısım*/
.fourth{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(49, 49, 49, 0.788), rgb(49, 49, 49)75%);
    color: white;
    padding: 4rem 0rem 1rem 0rem;
}

.images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.haber{
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 25%;
}
.haber > *{margin: 0.6rem;}
.haber > a{color: orange;}
.haber > h3, .haber > p{color: lightblue;}
.haber > img{width: 100%; height: auto;}

.fourth > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.fourth > article > hr{width: 150px; height: 4px; background-color: orange; border-color: orange;}
.fourth > article > h3{margin: 0.5rem; font-size: 60px;}
.fourth > article > p {display: flex; margin: 1rem 4rem 0rem 4rem; text-align: center;}

alt kısım
.fourth > .imges{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5rem;
    flex-wrap: wrap;

}

.fourth > .imges > figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;
}

.fourth > .imges > figure > a > img{
    display: flex;
    height: 200px;
    width: 300px;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
}

.fourth > .imges > figure > article{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 19rem;
}
.fourth > .imges > figure > article > h5{font-size: 20px; margin-bottom: 0.5rem;}


/*fifth section*/

/*üst kısım*/
.fifth{
    display: flex;
    flex-direction: column;
    background:rgb(49, 49, 49);
    color: white;
    padding: 4rem 0rem 1rem 0rem;
}

.fifth > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.fifth > article > hr{width: 150px; height: 4px; background-color: orange; border-color: orange;}
.fifth > article > h3{margin: 0.5rem; font-size: 35px;}
.fifth > article > p {display: flex; margin: 1rem 4rem 0rem 4rem; text-align: center;}

/*alt kısım*/
.yorumlar{
    display: flex;
    gap: 1rem;
    justify-content: center;
     flex-wrap: wrap;
}

.yorum{
    display: flex;
    background-color: rgb(65, 65, 65);
    flex-direction: column;
    flex: 0 1 550px;
    gap: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
}

.yorum > div{
    display: flex;
    flex-direction: row;
}

.yorum > div > img{
    width: 70px;
    height: 70px;
}

.yorum > div > .isim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    gap: 0.2rem;
}
.yorum > div > .isim > h5{font-size: 25px;}
.yorum > div > .isim > hr{height: 5px; background-color: black; border-color: black;}

footer{
    display: grid;
    grid-template-areas: 
    "hak hiz gel ads"
    "alt alt alt alt";
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #333;
    padding-top: 3rem;
    justify-content: space-around;
    color: azure;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .hak{grid-area: hak;}
  .hiz{grid-area: hiz;}
    .hiz > ul{
      list-style: none;
    }
      .hiz > ul > li{
        margin-top:    0.5rem;
        margin-bottom: 0.5rem;  
      }
  .adres{grid-area: ads;}
  .alt{grid-area: alt;}
  .galeri{grid-area: gel;}
  .galeri > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .galeri > div > img{
    width: 100px;
    height: 80px;
  }
  footer > div > hr{
    opacity: 50%;
    margin-top: 0.5rem;  
    margin-bottom: 0.5rem;
    width: 50%;
  }
  .adres > div{
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  .adres > div > i{margin-right: 1rem;}
  
  @media (max-width: 1200px) {
    footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    footer > div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .adres{
      align-items: baseline;
    }
  
    .adres > h4,
    .adres > hr{
      align-self: center;
    }
  
    .hak > p{
      text-align: center;
    }
  
    .alt{
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }
  }
  
  .alt{
    border: solid black 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:    2rem;
    padding-bottom: 2rem;
  
    padding-right: 2rem;
    padding-left:  2rem;
  }
  
  .alt > .first > div > input{
    background-color: azure;
    font-size: 16px;
    font-family: 'Open Sans';
    padding: 0.5rem;
  }
  
  #kayit{
    background-color: #f46b45;
    border-radius: 7px;
  }
  
  
  .alt > .second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .alt > .second > hr{
    width: 100%;
    margin-top:    0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-top: 1px dashed azure;
    opacity: 50%;
  }
  
  #ico{
    display: flex;
    gap: 0.5rem;
  }